@page "/addCategory"
@using ExpenseTracker.Services
@using ExpenseTracker.Models
@using ExpenseTracker.Services
@inject FirebaseCategoryService FirebaseCategory

<h3>Add Category</h3>

<EditForm Model="newCategory" OnValidSubmit="AddNewExpense">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Category Name</label>
        <InputText class="form-control" @bind-Value="newCategory.Name" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Add Category</button>
</EditForm>



@code {
    private Category newCategory = new();
    private async Task AddNewExpense()
    {
        newCategory.CreatedAt = DateTime.Now;
        await FirebaseCategory.AddCategoryAsync(newCategory);
        newCategory = new();
    }
    
}