@page "/category/{categoryName}"
@using ExpenseTracker.Models
@using ExpenseTracker.Services
@inject FirebaseService Firebase

<h3>@categoryName Expenses</h3>

@if (expenses == null)
{
    <p>Loading...</p>
}
else if (expenses.Count == 0)
{
    <p>No expenses for this category</p>
}
else
{
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Amount (SEK)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var expense in expenses)
        {
            <tr>
                <td>@expense.CreatedAt.ToShortDateString()</td>
                <td>@expense.Title</td>
                <td>@expense.Amount</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    [Parameter] public string categoryName { get; set; } = "";
    private List<Expense> expenses;

    protected override async Task OnParametersSetAsync()
    {
        expenses = await Firebase.GetExpensesByCategoryAsync(categoryName);
    }

}