@page "/category/{categoryName}"
@using ExpenseTracker.Models
@using ExpenseTracker.Services
@inject FirebaseService Firebase

<h3>@categoryName Expenses</h3>

@if (expenses == null)
{
    <p>Loading...</p>
}
else if (expenses.Count == 0)
{
    <p>No expenses for this category</p>
}
else
{
    <ul class="list-group">
        @foreach (var expense in expenses) // filtrera på rätt category
        {
            <li class="list-group-item">
                <strong>@expense.Title</strong> - @expense.Amount kr <br />
                <small>@expense.CreatedAt.ToString("yyyy-MM-dd")</small>
            </li>
        }
    </ul>
}

@code {
    [Parameter] public string categoryName { get; set; } = "";
    private List<Expense> expenses;

    protected override async Task OnInitializedAsync()
    {
        expenses = await Firebase.GetExpensesByCategoryAsync(categoryName);
    }

}