/* /Layout/MainLayout.razor.rz.scp.css */
/*
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
*/
/* /Layout/NavMenu.razor.rz.scp.css */
/*
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-small);
}

.nav-list{
    display: flex;
    gap: 1rem;
}

.navbar-categories{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .navbar{
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .collapse {
        !* Never collapse the sidebar for wide screens *!
        display: block;
    }

    .nav-scrollable {
        !* Allow sidebar to scroll for tall menus *!
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
*/
